@model IEnumerable<Users.Models.User>

@{
    ViewData["Title"] = "Index";
}

<table class="table table-bordered table-striped table-hover">
    <caption>Users:</caption>
    <tr>
        <th>First Name</th>
        <th>Second Name</th>
        <th>Age</th>
        <th>Phone</th>
        <th></th>
        <th>Phone Type</th>
        <th>Country</th>
        <th>Street</th>
        <th></th>
    </tr>

    @foreach (User user in Model)
    {
        <tr>
            <td>@user.FirstName </td>
            <td>@user.SecondName</td>
            <td>@user.Age</td>
            <td>@user.Phone</td>
            <td><a asp-controller="User" asp-action="AddPhone" asp-route-id="@user.ID"><span class="glyphicon glyphicon-plus">  Add phone</span></a></td>
            <td>@user.PhoneType</td>
            <td>@user.Country</td>
            <td>@user.Street</td>
            <td><a asp-controller="User" asp-action="AddAddress" asp-route-id="@user.ID"><span class="glyphicon glyphicon-plus">  Add street</span></a><strong>|</strong><a asp-controller="User" asp-action="DeleteAddress" asp-route-street="@user.Street"><span class="glyphicon glyphicon-trash">  Delete street</span></a> </td>
            <td><a asp-controller="User" asp-action="DeleteUser" asp-route-id="@user.ID"><span class="glyphicon glyphicon-trash">  Remove user</span></a> <strong>|</strong><a asp-controller="User" asp-action="DeletePhone" asp-route-phoneNumber="@user.Phone">  Remove phone</a></td>
            <td><a asp-controller="User" asp-action="EditUser" asp-route-id="@user.ID"><span class="glyphicon glyphicon-edit">  Edit user</span></a></td>
        </tr>   
    }
</table>

<a asp-controller="User" asp-action="AddUser" class="btn btn-primary">Add user</a>