@model IEnumerable<Users.Models.User>


@{
    ViewData["Title"] = "Index";
}

<table class="table table-bordered table-striped table-hover">
    <caption>Users:</caption>
    <tr>
        <th>First name</th>
        <th>Second name</th>
        <th>Age</th>
        <th>Street</th>
        <th>Country</th>
        <th>Phone number</th>
        <th>Phone type</th>
        <td></td>
    </tr>

    @foreach (User user in Model)
    {
        <tr>
            <td>@user.FirstName </td>
            <td>@user.SecondName</td>
            <td>@user.Age</td>
            <td>@user.Street</td>
            <td>@user.Country</td>
            <td>@user.Phone</td>
            <td>@user.PhoneType</td>
        </tr>
    }
</table>

<a asp-controller="User" asp-action="AddUser"><strong>Add user</strong></a>
<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" id="#SeeMoreOptions" data-toggle="dropdown">See options<span class="glyphicon glyphicon-chevron-down"></span></button>
    <ul class="dropdown-menu" aria-labelledby="SeeMoreOptions">
        <li><a asp-controller="User" asp-action="AddPhone"><span class="glyphicon glyphicon-plus">Add phone</span></a></li>
        <li><a asp-controller="User" asp-action="AddAddress"><span class="glyphicon glyphicon-plus">Add street</span></a></li>
        <li><a asp-controller="User" asp-action="DeleteAddress"><span class="glyphicon glyphicon-trash">Delete street</span></a></li>
        <li><a asp-controller="User" asp-action="DeleteUser"><span class="glyphicon glyphicon-trash">Remove user</span></a></li>
        <li><a asp-controller="User" asp-action="DeletePhone"><span class="glyphicon glyphicon-trash">Remove phone</span></a></li>
        <li><a asp-controller="User" asp-action="EditUser"><span class="glyphicon glyphicon-edit">Edit user</span></a></li>
    </ul>
</div>